/* TodoEditModal.jsx */

.todo-edit-modal__content {
	max-width: 800px;
}

.todo-edit__color-bar {
	height: 6px;
	border-radius: 3px 3px 0 0;
	margin-top: -20px;
	margin-bottom: 15px;
}

.todo-edit__editor-shell {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}
